.input {
  display: block;
  border: 1px black solid;
  width: 250px;
  height: 30px;
  border-radius: 5%;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 20px;
}

.label {
  margin-left: 20px;
}
